{% extends 'base.html' %}{% block content %}

<!-- Heading -->
<h5 class="heading center heading-spacing">Add Cuisine</h5>

<!-- Alert messages -->
{% if new_cuisine == False %}
    <div class="container center">
        <h5 class="red-text text-darken-4">Oops, there is an error!</h5>
        <p>Sorry this category name already exists. Please try a new category name.</p>
    </div>
{% endif %}

<!-- Add form container -->
<div class="container container-width container-spacing">
    <div class="row">
        <form action="{{url_for('insert_cuisine')}}" method="POST" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input placeholder="Enter cuisine name" id="cuisine_name" name="cuisine_name" type="text" class="validate" required>
                    <label for="cuisine_name">New Cuisine</label>
                </div>
            </div>
            <div class="row">
                <button class="col s12 btn waves-effect waves-light" type="submit">Save Cuisine</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}